{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
  <div class="w3-container w3-half w3-margin-top">
    <header class="w3-container">
      <h1>{% trans "Dashboard" %}</h1>
    </header>
    <div class="w3-row-padding w3-margin-bottom">
      <p>Welcome back {% user_display user %}</p>
      It is {% now "jS F Y H:i" %}
    </div>
  </div>
  {% else %}
  <div class="w3-container w3-half w3-margin-top">
    <header class="w3-container w3-center">
      <h1>{% trans "TimeBilla" %}</h1>
    </header>
    <div class="w3-container w3-card-4">
      <div class="w3-row">
        <p>{% trans "TimeBilla is a simple to use, cost effective timesheet and invoicing system." %}</p> 
        <ul>
          <li>{% trans "Staff record time spent on your projects." %}</li>
          <li>{% trans "Approve, create an invoice." %}</li>
          <li>{% trans "Bill the customer." %}</li>
        </ul>
      </div>
      <div class="w3-row w3-center">
        <h3><a class="w3-button w3-section w3-green w3-ripple" href="{% url 'account_login' %}">{% trans "Sign in" %}</a>
        <a class="primaryAction w3-button w3-section w3-blue w3-ripple" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></h3>
      </div> 
    </div>
  </div>
  {% endif %}

{% endblock %}