{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Application List" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Available Applications</h1>
  </header>
  
    <br>
    {% if application_list %}
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Purpose" %}</th>
          <th>{% trans "Type" %}</th>
          <th>{% trans "Owner" %}</th>
          <th>{% trans "Vendor Website" %}</th>
          <th>{% trans "Cost" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for application in application_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assessment:application-detail' application.name %}">{{ application.name }}</a></td>
          <td>{{ application.purpose }}</td>
          <td>{{ application.get_application_type_display }}</td>
          <td>{{ application.business_owner.first_name }} {{ application.business_owner.last_name }}</td>
          <td><a class="w3-text-indigo" href="{{ application.website }}">{{ application.website }}</a></td>
          <td>${{ application.cost }} {{ application.get_cost_type_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h3 class="w3-center">No applications available.</h3>
    {% endif %}
    <p class="w3-left"><a class="w3-button w3-red w3-padding-large w3-large w3-margin-top" href="{% url 'assessment:application-create' %}">ASSESS APPLICATION</a></p>
    <br>
  </div>
{% endblock %}