{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Confirm Delete" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Confirm Delete</h1>
  </header>
  <br>
  <div class="w3-container w3-panel w3-yellow w3-card-4">
    <h3>Warning!</h3>
  	<p>You are about to delete application -   <strong>{{ application.name|upper }}</strong></p>
    <h5><strong>Are you sure?</strong></h5>
  	<form action="" method="POST">
  		{% csrf_token %}
      <a class="w3-button w3-section w3-red w3-ripple w3-large" href="{% url 'assessment:application-detail' application.name %}">{% trans "No" %}</a>
  		<input class="w3-button w3-section w3-green w3-ripple w3-large" type="submit" value="{% trans 'Yes' %}" />
  	</form>
  </div>
</div>
{% endblock %}