{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "ICT Brief Cloud Risk Assessment Form" %}{% endblock %}

{% block content %}<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    {% if cloudictbriefcloudriskassessment %}
      <h1 class="w3-margin">Edit ICT brief cloud risk assessment</h1>
    {% else %}
      <h1 class="w3-margin">New ICT brief cloud risk assessment</h1>
    {% endif %}
  </header>
  <br>
<form class="w3-container w3-card-4" action="" method="post">
   {% csrf_token %}
   <h4>ICT Brief Cloud Risk Assessment</h4>
  <ul class="w3-ul w3-border">
        {% for field in form %}
          {% if field == form.app %}
            <span hidden>{{ field }}</span>
          {% else %}
            <li>{{field.help_text}}{{ field.label }}{{ field }}</li>
          {% endif %}
        {% endfor %}
      </ul><br/>
  <a class="w3-button w3-section w3-red w3-large w3-ripple" href="{% url 'assessment:application-detail' view.kwargs.pk %}">{% trans "Cancel" %}</a>
    <button class="primaryAction w3-button w3-section w3-blue w3-large w3-ripple" type="submit">{% trans "Save" %}</button>
    
</form>
</div>

{% endblock %}