{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Cloud Questionnaire Form" %}{% endblock %}

{% block content %}<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    {% if cloudquestionnaire %}
      <h1 class="w3-margin">Edit cloud questionnaire</h1>
    {% else %}
      <h1 class="w3-margin">New cloud questionnaire</h1>
    {% endif %}
  </header>
  <br>
<form class="w3-container w3-card-4" action="" method="post">
   {% csrf_token %}
   <h4>Cloud Questionnaire</h4>
    <span hidden>{{ form.app }}</span>
  <div class="w3-row">
        {% for field in form %}
          <p>{{ field.label }}{{ field }}</p>
        {% endfor %}
      </div><br/>
  <a class="w3-button w3-section w3-red w3-large w3-ripple" href="{% url 'assessment:application-detail' view.kwargs.pk %}">{% trans "Cancel" %}</a>
    <button class="primaryAction w3-button w3-section w3-blue w3-large w3-ripple" type="submit">{% trans "Save" %}</button>
    
</form>
</div>

{% endblock %}