{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load mathfilters %}

{% block head_title %}{% trans "Approval" %}{% endblock %}

{% block extra_head %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js"></script>
{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
  {% if approval_lines %}
 {% regroup approval_lines by timesheet as timesheet_approval_lines %}
  {% for timesheet in timesheet_approval_lines %}
  <header class="w3-container">
    <h1>{% trans "Approve" %} {{ timesheet.grouper }}</h1>
  </header>  
<div class="w3-container w3-card-4">
        <table class="w3-table-all w3-hoverable w3-grey">
          <thead>
            <tr class='w3-light-blue'>
              <th>Project</th>
              <th>Task</th>
              <th>Approve?</th>
              <th>Reject?</th>
              <th id="head0">Mon</th>
              <th id="head1">Tue</th>
              <th id="head2">Wed</th>
              <th id="head3">Thu</th>
              <th id="head4">Fri</th>
              <th id="head5">Sat</th>
              <th id="head6">Sun</th>
              <th>Totals</th>
            </tr>
          </thead>
          {% for line in timesheet.list %}
          <tbody>
            <td>{{ line.timesheet_line.project }}</td>
            <td>{{ line.timesheet_line.task }}</td>
            {% if line.approved %}
              <td class="w3-text-green"><i class="fa fa-check-circle"></i></td>
            {% else %}
              <td class="w3-text-red"><i class="fa fa-times-circle"></i></td>
            {% endif %}
            {% if line.rejected %}
              <td class="w3-text-green"><i class="fa fa-check-circle"></i></td>
            {% else %}
              <td class="w3-text-red"><i class="fa fa-times-circle"></i></td>
            {% endif %}
            <td>{{ line.timesheet_line.mon }}</td>
            <td>{{ line.timesheet_line.tue }}</td>
            <td>{{ line.timesheet_line.wed }}</td>
            <td>{{ line.timesheet_line.thu }}</td>
            <td>{{ line.timesheet_line.fri }}</td>
            <td>{{ line.timesheet_line.sat }}</td>
            <td>{{ line.timesheet_line.sun }}</td>
            <th class='w3-light-blue'>{{ line.timesheet_line.mon|addition:line.timesheet_line.tue|addition:line.timesheet_line.wed|addition:line.timesheet_line.thu|addition:line.timesheet_line.fri|addition:line.timesheet_line.sat|addition:line.timesheet_line.sun }}</th>
          </tbody>
          {% endfor %}
       
        <tfooter>
        <tr class='w3-light-blue'>
          <th></th>
          <th></th>
          <th></th>
          <th>Totals:</th>
          <th>{{ totals.mon_total }}</th>
          <th>{{ totals.tue_total }}</th>
          <th>{{ totals.wed_total }}</th>
          <th>{{ totals.thu_total }}</th>
          <th>{{ totals.fri_total }}</th>
          <th>{{ totals.sat_total }}</th>
          <th>{{ totals.sun_total }}</th>
          <th>{{ totals.mon_total|addition:totals.tue_total|addition:totals.wed_total|addition:totals.thu_total|addition:totals.fri_total|addition:totals.sat_total|addition:totals.sun_total }}</th>
        </tr>
      </tfooter> </table>

      
        <form>
          <a class="w3-btn w3-section w3-red" href="{% url 'timesheets:approval-list' %}">{% trans "Back to list" %}</a>
          <a class="w3-btn w3-section w3-blue" href="{% url 'timesheets:approval-reject-confirm' timesheet.grouper %}">{% trans "Reject" %}</a>
          <a class="w3-btn w3-section w3-green" href="{% url 'timesheets:approval-accept-confirm' timesheet.grouper %}">{% trans "Accept" %}</a>
          </form>
        </div>
        <br>
        {% endfor %}
     {% else %}
      <header class="w3-container">
    <h1>{% trans "Approve timesheets" %}</h1>
  </header>  
    <div class="w3-container w3-card-4">
      <h5>You have no timesheets to approve!</h5>
      <a class="w3-btn w3-section w3-red" href="{% url 'timesheets:approval-list' %}">{% trans "Back to list" %}</a>
    </div>

    {% endif %}
  
</div>
{% block extra_body %}
<script>
  var i = 0;
  do {
      var eid = "head"+i;
      var d = new Date('{{week_start|date:"d M Y"}}');
      d.setDate(d.getDate() + i);
      document.getElementById(eid).innerHTML = moment(d).format('ddd Do MMM');
      i++;
  }
  while (i < 7);
</script>
{% endblock %}
{% endblock %}