{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Week Line Timesheet Form" %}{% endblock %}
{% block extra_head %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js"></script>
  {{ form.media.css }}
{% endblock %}

{% block content %}
<div class="w3-container w3-third w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Log project time" %}</h1>
  </header>
  <form class="w3-container w3-card-4" action="." method="post">
    {% csrf_token %}
    <br/>
    <table id='timetable-week' class="w3-table-all w3-hoverable w3-grey">
      <tbody onchange="calculateTotals()"> 
        <tr hidden>
          <td>Timesheet</td>
          <td>{{form.timesheet}}</td>
        </tr> 
        <tr>
          <td>Project</td>
          <td>{{form.project}}</td>
        </tr>
        <tr>
          <td>Task</td>
          <td>{{form.task}}</td>
        </tr>
        <tr>
          <td id="head0">Mon</td>
          <td>{{form.mon}}</td>
        </tr>
        <tr>
          <td id="head1">Tue</td>
          <td>{{form.tue}}</td>
        </tr>
        <tr>
          <td id="head2">Wed</td>
          <td>{{form.wed}}</td>
        </tr>
        <tr>
          <td id="head3">Thu</td>
          <td>{{form.thu}}</td>
        </tr>
        <tr>
          <td id="head4">Fri</td>
          <td>{{form.fri}}</td>
        </tr>
        <tr>
          <td id="head5">Sat</td>
          <td>{{form.sat}}</td>
        </tr>
        <tr>
          <td id="head6">Sun</td>
          <td>{{form.sun}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td id="grand_total">total</td>
        </tr>
      </tbody>
    </table>
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'timesheets:timesheet-lines' timesheet_name %}">{% trans "Cancel" %}</a>
    <button class="primaryAction w3-button w3-section w3-blue w3-ripple" type="submit">{% trans "Save" %}</button>
  </form>
</div>
{{ form.media.js }}
{% block extra_body %}
<script>
function calculateTotals() {
  var gt = 0.00;
  gt += parseFloat(document.getElementById("id_mon").value);
  gt += parseFloat(document.getElementById("id_tue").value);
  gt += parseFloat(document.getElementById("id_wed").value);
  gt += parseFloat(document.getElementById("id_thu").value);
  gt += parseFloat(document.getElementById("id_fri").value);
  gt += parseFloat(document.getElementById("id_sat").value);
  gt += parseFloat(document.getElementById("id_sun").value);
  document.getElementById("grand_total").innerHTML = gt+" hrs";
}
window.onload=calculateTotals;
</script>
  <script>
  var i = 0;
  do {
      var eid = "head"+i;
      var d = new Date('{{week_start|date:"d M Y"}}');
      d.setDate(d.getDate() + i);
      document.getElementById(eid).innerHTML = moment(d).format('ddd Do MMM');
      i++;
  }
  while (i < 7);
  </script>
{% endblock %}

{% endblock %}