{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Time Log Details" %}{% endblock %}

{% block content %}
<div class="w3-container w3-half w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Time Log Details" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>ID:</strong></p>
        <p><strong>Project:</strong></p>
        <p><strong>Task:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ timelog.id }}</p>
        <p>{{ timelog.project }}</p>
        <p>{{ timelog.task }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m3 l3">
        <p><strong>Work Date</strong></p>
        <p>{{ timelog.work_date }}</p>
      </div>
      <div class="w3-col m3 l3">  
        <p><strong>Duration</strong></p>
        <p>{{ timelog.duration }}</p>
      </div>
      <div class="w3-col m3 l3">  
        <p><strong>User</strong></p>
        <p>{{ timelog.user }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Last updated:</strong></p>
        <p><strong>Created:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ timelog.updated }}</p>
        <p>{{ timelog.created }}</p>
      </div>
    </div>
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'timesheets:timelog-list' %}">{% trans "Cancel" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'timesheets:timelog-update' timelog.id %}">{% trans "Edit" %}</a>
  </div>
</div>
{% endblock %}