{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Weekly Timesheet Form" %}{% endblock %}

{% block extra_head %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.js"></script>
  {{ formset.media.css }}
{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
	{% if weektimesheet %}
<header class="w3-container">
  <h1>{% trans "Edit weekly timesheet" %}</h1>
</header>
{% else %}
<header class="w3-container">
  <h1>{% trans "Create new weekly timesheet" %}</h1>
</header>
{% endif %}

<div class="w3-container w3-card-4">
<form action="" method="post">
   {% csrf_token %}{{ formset.management_form }}
    <br/>
  <table>
    <tbody>
      {% for field in form %}     
        <tr>
          <td>{{ field.label }}</td>
          <td><div class="w3-padding">{{ field }}</div></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<br>
  <table id='timetable' class="w3-table-all w3-hoverable w3-grey">
    <thead>
      <tr class='w3-grey'>
        <th>Project</th>
        <th>Task</th>
        <th id="head0">Mon</th>
        <th id="head1">Tue</th>
        <th id="head2">Wed</th>
        <th id="head3">Thu</th>
        <th id="head4">Fri</th>
        <th id="head5">Sat</th>
        <th id="head6">Sun</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      {% for frm in formset %}
      <tr>
        <td>{{ frm.project }}</td>
        <td>{{ frm.task }}</td>
        <td>{{ frm.mon }}</td>
        <td>{{ frm.tue }}</td>
        <td>{{ frm.wed }}</td>
        <td>{{ frm.thu }}</td>
        <td>{{ frm.fri }}</td>
        <td>{{ frm.sat }}</td>
        <td>{{ frm.sun }}</td>
        <td>delete?</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfooter>
      <tr class='w3-grey'>
        <td></td>
        <td>Totals:</td>
        <td>mon tot</td>
        <td>tue tot</td>
        <td>wed tot</td>
        <td>thu tot</td>
        <td>fri tot</td>
        <td>sat tot</td>
        <td>sun tot</td>
        <td>grand tot</td>
      </tr>
    </tfooter>
  </table>


  <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'timesheets:week-list' %}">{% trans "Cancel" %}</a>
    <button class="primaryAction w3-button w3-section w3-blue w3-ripple" type="submit">{% trans "Save" %}</button>
</form>
</div>
</div>
{{ formset.media.js }}
{% block extra_body %}
<script>
  var i = 0;
  do {
      var eid = "head"+i;
      var d = new Date('{{weektimesheet.week_start|date:"d M Y"}}');
      d.setDate(d.getDate() + i);
      document.getElementById(eid).innerHTML = moment(d).format('ddd Do MMM');
      i++;
  }
  while (i < 7);
</script>
{% endblock %}

{% endblock %}