{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Weekly Timesheet Details" %}{% endblock %}

{% block content %}
<div class="w3-container w3-half w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Weekly Timesheet Details" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>ID:</strong></p>
        <p><strong>Name:</strong></p>
        <p><strong>Start:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ weektimesheet.id }}</p>
        <p>{{ weektimesheet.name }}</p>
        <p>{{ weektimesheet.week_start }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Last updated:</strong></p>
        <p><strong>Created:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ weektimesheet.updated }}</p>
        <p>{{ weektimesheet.created }}</p>
      </div>
    </div>
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'timesheets:week-list' %}">{% trans "Cancel" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'timesheets:week-update' weektimesheet.id %}">{% trans "Edit" %}</a>
  </div>
</div>
{% endblock %}