{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Customer List" %}{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Customer List" %}</h1>
  </header>
  <div class="w3-container w3-half w3-card-4">
    <br>
    {% if customer_list %}
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Loop" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{{ customer.get_absolute_url }}">{{ customer.trading_name }}</a></td>
          <td>{% for approvers in project.approvers.all %}{{ approvers }}{% if forloop.last %}.{% else%}, {% endif %}{% endfor %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no projects.</p>
    {% endif %}
      <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:project-create' %}">{% trans "Create New" %}</a>
  </div>
</div>
{% endblock %}