{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Customers" %}{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Customers" %}</h1>
  </header>
  <div class="w3-container w3-half w3-card-4">
    <br>
    {% if customer_list %}
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Contact" %}</th>
          <th>{% trans "Reference" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customer_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{{ customer.get_absolute_url }}">{{ customer.trading_name }}</a></td>
          <td>{{ customer.attention_to }}</td>
          <td>{{ customer.cust_ref }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>You have no customers to invoice.</p>
    {% endif %}
      <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'invoices:customer-create' %}">{% trans "Create New" %}</a>
  </div>
</div>
{% endblock %}