{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Invoice Settings Details" %}{% endblock %}

{% block content %}
<div class="w3-container w3-third w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Invoice Settings Details" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Trading Name:</strong></p>
        <p><strong>Address:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ invoicesettings.trading_name }}</p>
        <p>
            {{ invoicesettings.address_line_1 }},<br>
            {{ invoicesettings.address_line_2 }},<br>
            {{ invoicesettings.address_line_3 }}.<br>
          </p>
      </div>
    </div>
    <br>
     <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Email:</strong></p>
        <p><strong>Phone:</strong></p>
      </div>
      <div class="w3-col m8 l9">
        <p>{{ invoicesettings.email }}</p>
        <p>{{ invoicesettings.phone }}</p>
      </div>
    </div>
    <br>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Tax Rate:</strong></p>
        <p><strong>Tax Reference:</strong></p>
        <p><strong>Payment Terms:</strong></p>
      </div>
      <div class="w3-col m8 l9">
        <p>{{ invoicesettings.tax_rate }}%</p>
        <p>{{ invoicesettings.tax_number }}</p>
        <p>{{ invoicesettings.payment_terms }}</p>
      </div>
    </div>
    <br>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Last updated:</strong></p>
        <p><strong>Created:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ invoicesettings.updated }}</p>
        <p>{{ invoicesettings.created }}</p>
      </div>
    </div>
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'invoices:settings-list' %}">{% trans "Back to list" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'invoices:settings-update' invoicesettings.id %}">{% trans "Edit" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'invoices:settings-delete' invoicesettings.id %}">{% trans "Delete" %}</a>
  </div>
</div>
{% endblock %}


          <p>{{ invoicesettings.email }}</p>
          <p>{{ invoicesettings.phone }}</p>
          <p>{{ invoicesettings.tax_rate }}%</p>
          <p>{{ invoicesettings.tax_number }}</p>
          <p>{{ invoicesettings.payment_terms }}</p>