{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Select project" %}{% endblock %}

{% block content %}
<div class="w3-container w3-third w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Select project" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
  	<br/>
  	<form action="." method="post">
  		{% csrf_token %}
  		{{ form.project.label }}
  		{{ form.project }}
  		<button class="w3-button w3-green w3-ripple" type="submit">{% trans "Go" %}</button>  		
  	</form>
  	<br/>
  </div>
</div>
{% endblock %}