{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Project List" %}{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Project List" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
    <br>
    {% if project_list %}
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Start week" %}</th>
          <th>{% trans "End week" %}</th>
          <th>{% trans "Tasks" %}</th>
          <th>{% trans "Team" %}</th>
          <th>{% trans "Approvers" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for project in project_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
          <td>{{ project.start_week }}</td>
          <td>{{ project.end_week }}</td>
          <td><a class="w3-text-indigo" href="{% url 'projects:task-list' project.id %}">{% trans "View Tasks" %}</a></td>
          <td><a class="w3-text-indigo" href="{% url 'projects:project-list' %}">{% trans "View Team" %}</a></td>
          <td>{% for approvers in project.approvers.all %}{{ approvers }}{% if forloop.last %}.{% else%}, {% endif %}{% endfor %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>There are no projects.</p>
    {% endif %}
      <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:project-create' %}">{% trans "Create New" %}</a>
  </div>
</div>
{% endblock %}