{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Project Details" %}{% endblock %}

{% block content %}
<div class="w3-container w3-half w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Project Details" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Name:</strong></p>
        <p><strong>Description:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ project.name }}</p>
        <p>{{ project.desc }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m3 l3">
        <p><strong>Start:</strong></p>
        <p><strong>End:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ project.start_week }}</p>
        <p>{{ project.end_week }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m3 l3">
        <p><strong>Billable:</strong></p>
        <p><strong>Status:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        {% if project.billable %}
            <p class="w3-text-green"><i class="fa fa-check-circle fa-lg"></i></p>
          {% else %}
            <p class="w3-text-red"><i class="fa fa-times-circle fa-lg"></i></p>
          {% endif %}
        </p>
        <p>{% if project.status == "Active" %}
            <p class="w3-text-green"><i class="fa fa-check-circle fa-lg"></i></p>
          {% endif %}
          {% if project.status == "On Hold" %}
            <p class="w3-text-red"><i class="fa fa-pause-circle fa-lg"></i></p>
          {% endif %}
          {% if project.status == "Closed" %}
            <p class="w3-text-blue"><i class="fa fa-times-circle fa-lg"></i></p>
          {% endif %}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m3 l3">
        <p><strong>Customer:</strong></p>
        <p><strong>Owner:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ project.customer }}</p>
        <p>{{ project.owner }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Last updated:</strong></p>
        <p><strong>Created:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ project.updated }}</p>
        <p>{{ project.created }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Approver(s):</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>
          {% for approver in project.approvers.all %}
            {{ approver.username }}{% if forloop.last %}.{% else%},{% endif %}
          {% endfor %}
        </p>
      </div>
    </div>
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'projects:project-list' %}">{% trans "Back to list" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:project-update' project.id %}">{% trans "Edit" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:project-delete' project.id %}">{% trans "Delete" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:project-approvers-update' project.id %}">{% trans "Approvers" %}</a>
  </div>
</div>
{% endblock %}