{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Task List" %}{% endblock %}

{% block content %}
<div class="w3-container w3-half w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Task List" %}</h1>
  </header>
  <div class="w3-container w3-card-4">    
    {% if task_list %}
      {% regroup task_list by project as project_task_list %}
        {% for project in project_task_list %}
          <h3>{% trans "for project:" %} <a class="w3-text-indigo" href="{% url 'projects:project-detail' project.grouper.id %}">{{ project.grouper }}</a></h3>
            <table class="w3-table-all w3-hoverable">
              <thead>
                <tr class="w3-grey">
                  <th>{% trans "Title" %}</th>
                  <th>{% trans "Description" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for task in project.list %}
                  <tr>
                    <td><a class="w3-text-indigo" href="{% url 'projects:task-detail' task.id %}">{{ task.title }}</a></td>
                    <td>{{ task.desc }}</td>
                  </tr>
                {% endfor %}                
              </tbody>
            </table>
          {% endfor %}
    {% else %}
      <br>
      <p>There are no tasks.</p>
    {% endif %}
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'projects:project-list' %}">{% trans "Back to list" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:task-create' %}">{% trans "Create New" %}</a>
  </div>
</div>
{% endblock %}