{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Team Details" %}{% endblock %}

{% block content %}
<div class="w3-container w3-half w3-margin-top">
  <header class="w3-container">
    <h1>{% trans "Team Details" %}</h1>
  </header>
  <div class="w3-container w3-card-4">
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>ID:</strong></p>
        <p><strong>Member:</strong></p>
        <p><strong>Active:</strong></p>
        <p><strong>Project:</strong></p>
        <p><strong>Hourly Rate:</strong></p>
      </div>
      <div class="w3-col m8 l9">
        <p>{{ team.id }}</p>  
        <p>{{ team.member }}</p>
        <p>{{ team.is_active }}</p>
        <p>{{ team.project }}</p>
        <p>{{ team.rate }}</p>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col m4 l3">
        <p><strong>Last updated:</strong></p>
        <p><strong>Created:</strong></p>
      </div>
      <div class="w3-col m8 l9">  
        <p>{{ team.updated }}</p>
        <p>{{ team.created }}</p>
      </div>
    </div>
    <a class="w3-button w3-section w3-red w3-ripple" href="{% url 'projects:team-list' team.project.id %}">{% trans "Cancel" %}</a>
    <a class="w3-button w3-section w3-blue w3-ripple" href="{% url 'projects:team-update' team.project.id team.id %}">{% trans "Edit" %}</a>

  </div>
</div>
{% endblock %}